/* primary-color: 2f;
secondary-color: black; */

html {
    font-family: Georgia, sans-serif;
}

* {
    color: black;
}

.card-body {
    border: 1pc solid blue;
    width: 300px;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

.card-body p, .card-body h1 {
    margin: 8px;
}

/* h1 {
    color: purple;
    margin-bottom: 0.25em;
}

h2 {
    color: black;
    font-size: 1em;
    margin: 0;
    margin-bottom: 1em;
}

a {
    color: rgb(63, 153, 51);
}

.contacts {
    margin-bottom: 2em;
}

.contact{
    display: flex;

.contact_type {
        min-width: 90px ;
    }
}


.experience {
    display: flex;
    margin-bottom: 2em;
}

    /* &__date {
        min-width: 185px;
        margin-bottom: 1 em;
    }
    &__name {
        font-weight: bold;
    } */